<!DOCTYPE html>
<html lang="en">
<body>
  <title>Friends - new password</title>
  <link rel="stylesheet" href="../static/css/new password/new password styles.css">
  {% include "common/header.html" %}
    <div class="container-fluid wraper">
      <div class="row justify-content-center">

        <div class="col-lg-5 col-md-10 bg-light rounded-4">
          <main class="form-signin w-100 m-auto">
            <form class="box"  action="{{url_for('new_password')}}" method="post">
              <h1>Friends</h1>
              <h3 class="h3 mb-3 fw-normal">New password</h3>

              <div class="form-floating">
                <input type="password" class="form-control password" name="password" minlength="6" required>
                <label for="floatingInput">New password</label>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

            </form>
          </main>
        </div>

      </div>
    </div>

  {% include "common/footer.html" %}
</body>
</html>